.Section {
    z-index: 3;
}

.Container > img {
    z-index: var(--layer-important);
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Background {
    transform: translateZ(-1px) scale(1.5);
    display: flex;
    align-items: center;
}

.Background > img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.RedButtonMotion {
    mix-blend-mode: lighten;
    z-index: var(--layer-3);
}

.Hidden {
    visibility: hidden;
    z-index: var(--layer-4);
}

.TextImage {
    z-index: var(--layer-2);
}

.Motion {
    visibility: visible;
    animation: Beeping 0.5s forwards;
}

@keyframes Beeping {
    to {
        mix-blend-mode: color-dodge;
    }
}

.MotionImage {
    width: 100%;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    mix-blend-mode: darken;
}

.LeavesOverlay {
    position: absolute;
    min-width: calc((60vh - var(--topbar-h)) * var(--slope));
    right: 0;
    /* height: 100%; */
    /* position: relative; */
}

.LanternOverlay {
    position: absolute;
    min-width: calc((60vh - var(--topbar-h)) * var(--slope));
    left: 0;
}

.RiverOverlay {
    position: absolute;
    min-width: calc((60vh - var(--topbar-h)) * var(--slope));
    bottom: 0;
    right: 0;
}
