.Container {
    width: 100%;
    min-height: calc(100vh);
    max-width: calc((100vh - var(--topbar-h)) * var(--slope));
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-color);
    overflow: hidden;
    margin-top: var(--topbar-h);

    display: flex;
    align-items: center;
    /* text-align: end; */
}

.Canvas {
    height: 100%;
    width: calc((100vh- var(--topbar-h)) * var(--slope));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Container > img {
    height: 100%;
    position: absolute;
    min-width: calc((50vh- var(--topbar-h)) * var(--slope));
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.RedButton {
    z-index: var(--layer-3);
}

.TextImage {
    z-index: var(--layer-2);
}

.Motion {
    animation: Beeping 0.5s forwards;
}

@keyframes Beeping {
    to {
        mix-blend-mode: color-dodge;
    }
}

.MotionImage {
    width: 100%;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    mix-blend-mode: darken;
}

.LeavesOverlay {
    position: absolute;
    min-width: calc((50vh - var(--topbar-h)) * var(--slope));
    right: 0;
    /* height: 100%; */
    /* position: relative; */
}

.LanternOverlay {
    position: absolute;
    min-width: calc((50vh - var(--topbar-h)) * var(--slope));
    left: 0;
}

.RiverOverlay {
    position: absolute;
    min-width: calc((50vh - var(--topbar-h)) * var(--slope));
    bottom: 0;
    right: 0;
}
