.Container {
    width: 100%;
    min-height: calc(100vh - var(--topbar-h));
    max-width: calc((100vh - var(--topbar-h)) * var(--slope));
    position: relative;
    margin: 0 auto;
    background-color: var(--background-color);
    overflow: hidden;
    padding-top: var(--topbar-h);
    /* margin-top: var(--topbar-h); */
}

.Background {
    width: calc((100vh - var(--topbar-h)) * var(--slope));
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.BackgroundPrim {
    width: calc((100vh - var(--topbar-h)) * var(--slope));
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Text {
    position: relative;
    width: 100%;
    color: var(--text-color);
    direction: ltr;
    margin-bottom: 50px;;
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5%;
}

p > h3 {
    text-align: center;
}

.CardsHolder {
    width: 100%;
    position: relative;
    direction: ltr;
    color: var(--text-color);
}

.Card {
    position: relative;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.CardTextWrapper {
    width: 60%;
    height: 100%;
    display: inline-block;
}

.CardImageWrapper {
    width: 40%;
    display: inline-block;
    position: relative;
    /* top: calc(var(--topbar-h) * 0.5); */
}

.CardImageWrapper > img {
    width: 80%;
    border-radius: 100vw;
    margin: 0 auto;
    display: block;
}

.StickTop {
    position: fixed;
    top: var(--topbar-h);
    right: 0;
}

.StickBottom {
    align-self: flex-end;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 666px) {
    .Card {
        margin-bottom: 10px;
    }
    .CardTextWrapper {
        width: 60%;
    }
    .CardImageWrapper {
        width: 40%;
    }
}
 