.Container {
  width: 100%;
}

:root {
    --topbar-h: var(--size-10);
    --footer-h: var(--size-9);
    --background-color: var(--choco-2);
    --topbar-bg: var(--choco-3);
    --topbar-bg-hover: var(--choco-1);
    --topbar-color: var(--gray-8);
    --slope: calc(1920/1080)
}

body {
    background-color: var(--background-color);
    direction: rtl;
    font-family: "IranSans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
}

p {
    text-indent: var(--size-3);
    text-align: justify;
    /* font-family: "Koodak", "FiraSans"; */
}
